/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* dishes__card side icon*/
.side-icon {
  height: 100%;
}

.center {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

/* hero dishes*/
.dishes-hero-img {
  width: 100%;
  height: 250px;
}
.dishes-hero-img img {
  width: 100%;
  object-fit: cover;
}

/*dishes__card hearts*/
.dishes__card__heart {
  font-size: 21px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: gray;
  transition: color 400ms;
  cursor: pointer;
  margin-right: 10px;
}
.dishes__card__heart:hover {
  color: #ff79da;
  -webkit-text-stroke-color: #ff79da;
}

/* END GENERAL*/
/*FONTS*/
body {
  font-family: "Roboto", sans-serif;
}

/*END FONTS*/
/* BUTTONS*/
.btn {
  position: relative;
  padding: 14px 20px;
  border-radius: 50px;
  margin: 20px 0 30px;
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  border: none;
  color: #fffffd;
  font-weight: normal;
  box-shadow: 0 2px 10px 0 rgba(100, 100, 100, 0.5);
  transition: all 0.5s;
  line-height: 20px;
  font-size: 14px;
  z-index: 1;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: 16px;
  }
}
.btn:hover {
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0 2px 15px 0 rgba(100, 100, 100, 0.8);
  cursor: pointer;
  font-size: 15px;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .btn:hover {
    font-size: 17px;
  }
}
.btn:hover .btn__bg {
  opacity: 0.2;
}
.btn__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background-color: #ff79da;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn--short {
  padding: 14px 20px;
}
.btn--large {
  padding: 14px 40px;
}

.btn-center {
  margin: 40px auto;
}

/* END BUTTONS*/
/* LOADING PAGE*/
.load-page {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: hide-loading 2 forwards;
  animation-delay: 2.5s;
  z-index: 1;
  overflow: hidden;
}
.load-page > .load-page__icon {
  opacity: 0;
  animation: scale-icon 1s alternate;
  animation-iteration-count: 2;
  animation-delay: 0.6s;
  color: #fca03a;
}

@keyframes scale-icon {
  0% {
    opacity: 0;
    transform: scale(10);
  }
  50% {
    opacity: 1;
    transform: scale(15);
  }
  100% {
    opacity: 0.8;
    transform: scale(10);
  }
}
@keyframes hide-loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0%;
    z-index: -1;
  }
}
/*END LOADING PAGE*/
/* HEADER*/
.header-top {
  background-color: #fffffd;
  padding: 20px 0;
  position: relative;
}
.header-top--shadow {
  box-shadow: 0 2px 5px 0 rgba(100, 100, 100, 0.8);
}
.header-top a {
  position: absolute;
  top: 50%;
  margin-left: 25px;
  transform: translateY(-50%);
  color: black;
  transition: font-size 0.5s ease, margin-left 0.5s ease;
}
.header-top a:hover {
  color: #9356dc;
  font-size: 25px;
  margin-left: 20px;
}

.header-top img {
  width: 200px;
  margin: 0 auto;
}

/* END HEADER*/
.container {
  min-width: 280px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  /*container full*/
}
.container-full {
  max-width: 10000px;
}

.cont-show {
  opacity: 0;
  animation: show-container 1s 2.5s forwards;
}

@keyframes show-container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* HERO */
.hero {
  background-color: #f7f7f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.hero h1,
.hero p {
  padding: 10px 0;
}
.hero h1 {
  font-size: 24px;
  margin-bottom: 0;
  line-height: 1;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .hero h1 {
    font-size: 35px;
    margin-top: 25px;
    line-height: 1;
  }
}
.hero p {
  color: #898989;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .hero p {
    font-size: 20px;
    line-height: 0.5;
    margin-bottom: 40px;
  }
}

/* END HERO */
/* DISHES*/
.dishes {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f7f7f4;
  z-index: 1;
  position: relative;
  margin-top: -60px;
  padding: 30px 20px;
  overflow: hidden;
  /*animation media query desktop*/
}
.dishes__title {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .dishes__title {
    width: 100%;
    justify-content: flex-end;
  }
}
.dishes__title h2 {
  font-size: 23px;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .dishes__title h2 {
    margin-right: 47%;
    transform: translateX(47%);
    font-size: 28px;
  }
}
.dishes__title i {
  margin-right: 10px;
  font-size: 22px;
}
.dishes__title--type h3 {
  text-transform: uppercase;
  margin-top: 30px;
  color: gray;
  font-weight: 400;
  position: relative;
  font-size: 13px;
  margin-bottom: 20px;
  /*media query mobile*/
  /*media query desktop*/
}
@media screen and (min-width: 576px) {
  .dishes__title--type h3 {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .dishes__title--type h3 {
    text-align: center;
    font-weight: 900;
    font-size: 17px;
    margin-top: 50px;
  }
}
.dishes__title--type h3::after {
  content: "";
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #99e2d0;
  top: 100%;
  left: 0;
  margin-top: 5px;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .dishes__title--type h3::after {
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
  }
}
.dishes .dish {
  opacity: 0;
  position: relative;
  left: -30px;
  top: 0;
  animation: show-title 1s 0.5s ease forwards;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .dishes .dish {
    top: -10px;
    left: 0;
    animation: show-title-desktop 1s 0.5s ease forwards;
  }
}
@keyframes show-title-desktop {
  0% {
    opacity: 0;
    top: -20px;
  }
  30% {
    top: -20px;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: -10px;
  }
}
@keyframes show-title {
  0% {
    opacity: 0;
    left: -30px;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.dishes__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*media query mobile*/
}
@media screen and (min-width: 576px) {
  .dishes__cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.dishes__cards button {
  margin-top: 40px;
}

.dishes__card {
  opacity: 0;
  position: relative;
  top: -15px;
  background-color: #fffffd;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.2);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
  animation: show-dishes 1s ease forwards;
  transition: box-shadow 1s ease;
  /*media query mobile*/
  /*media query desktop*/
}
@media screen and (min-width: 576px) {
  .dishes__card {
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  .dishes__card {
    width: 32%;
  }
}
.dishes__card:hover {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.6);
}
.dishes__card:nth-child(1) {
  animation-delay: 300ms;
}
.dishes__card:nth-child(2) {
  animation-delay: 600ms;
}
.dishes__card:nth-child(3) {
  animation-delay: 900ms;
}
.dishes__card:nth-child(4) {
  animation-delay: 1200ms;
}
.dishes__card:nth-child(5) {
  animation-delay: 1500ms;
}
@keyframes show-dishes {
  0% {
    opacity: 0;
    top: -15px;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.dishes__card .dishes__card__text {
  width: 100%;
  overflow-wrap: anywhere;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 600ms;
}
.dishes__card .dishes__card__text span:not(:last-child) {
  font-size: 15px;
  margin: 5px 0;
  font-weight: bold;
  color: black;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .dishes__card .dishes__card__text span:not(:last-child) {
    font-size: 17px;
  }
}
.dishes__card .dishes__card__text span:last-child {
  font-size: 13px;
  color: #4d4d4d;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .dishes__card .dishes__card__text span:last-child {
    font-size: 16px;
    line-height: 1.5;
  }
}
.dishes__card .dishes__card__price {
  display: flex;
  justify-content: flex-end;
  width: 38px;
  margin-right: 8px;
  font-weight: 900;
  font-size: 13px;
  align-self: flex-end;
  transition: margin-right 600ms;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .dishes__card .dishes__card__price {
    font-size: 15px;
  }
}
.dishes__card .dishes__card__side {
  width: 50px;
  height: 100%;
  position: absolute;
  padding: 20px 10px;
  top: 0;
  right: -50px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 600ms;
}
.dishes__card .dishes__card__side i {
  width: 15px;
  height: 15px;
  background-color: #fffffd;
  border-radius: 100%;
  color: #99e2d0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 8px;
  font-weight: bold;
  transform: rotateZ(45deg);
  transition: transform 600ms;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .dishes__card .dishes__card__side i {
    width: 30px;
    height: 30px;
    font-size: 15px;
  }
}
.dishes__card:hover .dishes__card__side {
  right: 0;
}
.dishes__card:hover .dishes__card__side i {
  transform: rotateZ(360deg);
}
.dishes__card:hover .dishes__card__text {
  flex-grow: 1;
  overflow-wrap: anywhere;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dishes__card:hover .dishes__card__price {
  margin-right: 50px;
}

/*END DISHES*/
/* RESEARCH CITY FORM*/
.research-city {
  background-color: #ebebe8;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.research-city__form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
}
.research-city__form__icon {
  margin-right: 20px;
}
.research-city__form input[type=text] {
  background-color: #ebebe8;
  border: none;
  font-size: 18px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border: 1px solid transparent;
  padding: 3px;
  outline: none;
  cursor: pointer;
}
.research-city__form input[type=text] input:not(:placeholder-shown) {
  border: 1px solid #bcbcb1;
}
.research-city__form input[type=text]:focus, .research-city__form input[type=text]:active {
  border: 1px solid #bcbcb1;
}
.research-city__form input[type=text]::placeholder {
  color: #2b2b2b;
  font-weight: bold;
  opacity: 1;
}

/* END RESEARCH CITY FORM*/
/*  FOOTER */
.footer {
  background-color: #363635;
  padding: 20px 20px 40px;
  width: 100%;
  min-width: 280px;
  max-width: 1200px;
  margin: auto;
}
.footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /*media query mobile*/
}
@media screen and (min-width: 576px) {
  .footer .container {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
.footer h4 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  color: #fffffd;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  /*media query desktop*/
}
@media screen and (min-width: 576px) {
  .footer h4 {
    font-size: 25px;
  }
}

.nav-footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*media query mobile*/
}
@media screen and (min-width: 576px) {
  .nav-footer__list {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.nav-footer__item {
  color: white;
  padding: 5px 0;
  width: 100%;
}
.nav-footer__item a {
  font-size: 16px;
  padding: 5px 0;
  transition: color 400ms;
  width: 100%;
}
.nav-footer__item a:hover {
  color: #4acbab;
}
.nav-footer__item i {
  margin-right: 10px;
  font-size: 15px;
}

/* END FOOTER */
/* FUNCTIONING*/
.functioning {
  padding: 40px 20px;
}
.functioning h2 {
  font-size: 21px;
  margin-bottom: 10px;
}
.functioning .func__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*media query mobile*/
}
@media screen and (min-width: 576px) {
  .functioning .func__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.func__card {
  background-color: #f7f7f4;
  border-radius: 25px;
  margin: 20px 0 0;
  width: 98%;
  margin-left: 10px;
  position: relative;
  box-shadow: 0 2px 10px 0 #d8d8d8;
  transition: background-color 400ms;
  cursor: pointer;
  transition: box-shadow, background-color 0.5s ease;
  /*media query mobile*/
  /*media query desktop*/
}
@media screen and (min-width: 576px) {
  .func__card {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .func__card {
    width: 30%;
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
.func__card:hover {
  background-color: #ece1f9;
  box-shadow: 0 2px 12px 0 #cccccc;
}
.func__card:hover .func__card__icon {
  color: #9356dc;
}
.func__card:hover .func__card__number {
  left: 5px;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .func__card:hover .func__card__number {
    top: -6px;
    left: 50%;
  }
}
.func__card a {
  padding: 25px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .func__card a {
    margin: 0;
    padding: 25px 15px;
    width: 100%;
    justify-content: center;
  }
}
.func__card__number {
  position: absolute;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  color: #ffff;
  transition: all 0.5s ease;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .func__card__number {
    left: 50%;
    top: 0;
    width: 22px;
    height: 22px;
  }
}
.func__card__number p {
  font-size: 14px;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .func__card__number p {
    font-size: 15px;
  }
}
.func__card__icon {
  width: 15px;
  font-size: 16px;
  margin: 0 20px 0 10px;
  color: #898989;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .func__card__icon {
    margin: 0;
    margin-right: 25px;
    font-size: 22px;
  }
}
.func__card h3 {
  font-size: 14px;
  color: black;
  display: block;
  width: 100%;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .func__card h3 {
    font-size: 16px;
  }
}

/* END FUNCTIONING*/
/*RESTAURANTS */
.restaurants {
  background-color: #f7f7f4;
  padding: 40px 20px;
}
.restaurants h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.restaurants .rest-dishes__cards {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*media query mobile*/
}
@media screen and (min-width: 576px) {
  .restaurants .rest-dishes__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
.restaurants .rest-dishes__card {
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.2);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all 1s;
  /*media query mobile*/
}
@media screen and (min-width: 576px) {
  .restaurants .rest-dishes__card {
    width: 49%;
  }
}
.restaurants .rest-dishes__card:hover {
  box-shadow: 0 0 12px 0 rgba(100, 100, 100, 0.6);
  cursor: pointer;
}
.restaurants .rest-dishes__card:hover img {
  transform: scale(1.1);
  filter: grayscale(0);
}
.restaurants .rest-dishes__card__img {
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurants .rest-dishes__card__new {
  background-color: #99e2d0;
  position: absolute;
  padding: 6px 15px;
  border-radius: 3px;
  top: 15px;
  right: 15px;
  color: #278870;
  font-weight: bold;
  font-size: 13px;
  z-index: 1;
}
.restaurants .rest-dishes__card img {
  height: 150px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  transform: scale(1);
  filter: grayscale(1);
  transition: filter 1s ease, transform 0.6s ease;
}
.restaurants .rest-dishes__card__info {
  background-color: #ffffff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurants .rest-dishes__card__txt h3,
.restaurants .rest-dishes__card__txt p {
  margin-bottom: 5px;
  font-size: 17px;
  /*media query desktop*/
}
@media screen and (min-width: 992px) {
  .restaurants .rest-dishes__card__txt h3,
.restaurants .rest-dishes__card__txt p {
    font-size: 19px;
  }
}

/* END RESTAURANTS */

/*# sourceMappingURL=style.css.map */
