* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  min-width: 280px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.cont-show {
  opacity: 0;
  animation: show-container 100ms 4s forwards;
}

@keyframes show-container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.load-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  animation: hide-loading forwards;
  animation-delay: 4s;
  z-index: 1;
  overflow: hidden;
}
.load-page > .load-page__icon {
  opacity: 0;
  animation: scale-icon 1.5s alternate;
  animation-iteration-count: 2;
  animation-delay: 0.6s;
  color: orangered;
}

@keyframes scale-icon {
  0% {
    opacity: 0;
    transform: scale(10);
  }
  50% {
    opacity: 1;
    transform: scale(15);
  }
  100% {
    opacity: 0.8;
    transform: scale(10);
  }
}
@keyframes hide-loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0%;
    z-index: -1;
  }
}
.dishes-hero-img {
  width: 100%;
  height: 250px;
}
.dishes-hero-img img {
  width: 100%;
  object-fit: cover;
}

.btn {
  position: relative;
  padding: 14px 20px;
  border-radius: 50px;
  margin: 20px 0 30px;
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  border: none;
  color: #fffffd;
  font-weight: normal;
  box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 0.4);
  transition: all 0.5s;
  line-height: 20px;
  font-size: 14px;
  z-index: 1;
}
.btn:hover {
  background-image: linear-gradient(180deg, #ff79da, #9356dc);
  box-shadow: 0px 2px 10px 0px #646464;
  cursor: pointer;
  font-size: 15px;
}
.btn:hover .btn__bg {
  opacity: 0.2;
}
.btn__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50px;
  background-color: #ff79da;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.btn--short {
  padding: 14px 20px;
}
.btn--large {
  padding: 14px 40px;
}

.btn-center {
  margin: 40px auto;
}

.dishes {
  overflow: hidden;
}
.dishes .dish {
  opacity: 0;
  position: relative;
  left: -30px;
  animation: show-title 1s 0.5s ease forwards;
}
@keyframes show-title {
  0% {
    opacity: 0;
    left: -30px;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}

.dishes__card {
  opacity: 0;
  position: relative;
  top: -20px;
  animation: show-dishes 1s ease forwards;
}
.dishes__card:nth-child(1) {
  animation-delay: 300ms;
}
.dishes__card:nth-child(2) {
  animation-delay: 600ms;
}
.dishes__card:nth-child(3) {
  animation-delay: 900ms;
}
.dishes__card:nth-child(4) {
  animation-delay: 1200ms;
}
.dishes__card:nth-child(5) {
  animation-delay: 1500ms;
}

@keyframes show-dishes {
  0% {
    opacity: 0;
    top: -20px;
  }
  70% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.dishes {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f7f7f4;
  z-index: 1;
  position: relative;
  margin-top: -60px;
  padding: 30px 20px;
}
.dishes__title {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dishes__title h2 {
  font-size: 23px;
}
.dishes__title i {
  margin-right: 10px;
  font-size: 22px;
}
.dishes__title--type h3 {
  text-transform: uppercase;
  margin-top: 30px;
  color: gray;
  font-weight: 400;
  position: relative;
  font-size: 13px;
  margin-bottom: 20px;
}
.dishes__title--type h3::after {
  content: "";
  width: 30px;
  height: 3px;
  position: absolute;
  background-color: #99e2d0;
  top: 100%;
  left: 0;
  margin-top: 5px;
}

.dishes__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dishes__cards button {
  margin-top: 40px;
}

.dishes__card {
  background-color: #fffffd;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.2);
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  overflow: hidden;
}
.dishes__card .dishes__card__text {
  width: 100%;
  overflow-wrap: anywhere;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: width 600ms;
}
.dishes__card .dishes__card__text .span-block {
  display: block;
}
.dishes__card .dishes__card__text span:not(:last-child) {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}
.dishes__card .dishes__card__text span:last-child {
  font-size: 13px;
  color: #4d4d4d;
}
.dishes__card .dishes__card__price {
  display: flex;
  justify-content: flex-end;
  width: 38px;
  margin-right: 8px;
  font-weight: 900;
  font-size: 13px;
  align-self: flex-end;
  transition: margin-right 600ms;
}
.dishes__card .dishes__card__side {
  width: 50px;
  height: 100%;
  position: absolute;
  padding: 20px 10px;
  top: 0;
  right: -50px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 600ms;
}
.dishes__card .dishes__card__side i {
  width: 15px;
  height: 15px;
  background-color: #fffffd;
  border-radius: 100%;
  color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 8px;
  font-weight: bold;
  transform: rotateZ(45deg);
  transition: transform 600ms;
}
.dishes__card:hover .dishes__card__side {
  right: 0px;
}
.dishes__card:hover .dishes__card__side i {
  transform: rotatez(360deg);
}
.dishes__card:hover .dishes__card__text {
  width: 65%;
  overflow-wrap: anywhere;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dishes__card:hover .dishes__card__price {
  margin-right: 50px;
}

.dishes__card__heart {
  font-size: 21px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: gray;
  transition: color 200ms;
  cursor: pointer;
  margin-right: 10px;
}
.dishes__card__heart:hover {
  color: red;
  color: #ff79da;
  -webkit-text-stroke-color: #ff79da;
}

.side-icon {
  height: 100%;
}

.header-top {
  background-color: fffffd;
  padding: 20px 0;
  position: relative;
}
.header-top--shadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 2px 5px 0px grey;
}
.header-top a {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  color: black;
}
.header-top a:hover {
  color: #9356dc;
}

.header-top img {
  width: 150px;
  margin: 0 auto;
}

.research-city {
  background-color: #ebebe8;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.research-city__form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 70px;
}
.research-city__form__icon {
  margin-right: 20px;
}
.research-city__form input[type=text] {
  background-color: #ebebe8;
  border: #ebebe8;
  font-size: 18px;
  width: 100%;
}

.hero {
  background-color: #f7f7f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.hero h1,
.hero p {
  padding: 10px 0;
}
.hero h1 {
  font-size: 24px;
}
.hero p {
  color: #898989;
}

.functioning {
  padding: 40px 20px;
}
.functioning h2 {
  font-size: 21px;
  margin-bottom: 10px;
}

.func-dishes__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.func-dishes__cards .func-dishes__card {
  background-color: #f7f7f4;
  border-radius: 25px;
  margin: 20px 0px 0;
  padding: 25px 20px;
  width: 98%;
  margin-left: 10px;
  position: relative;
  box-shadow: 0px 2px 10px 0px #d8d8d8;
  transition: background-color 400ms;
  cursor: pointer;
}
.func-dishes__cards .func-dishes__card:hover {
  background-color: #ece1f9;
}
.func-dishes__cards .func-dishes__card:hover .func-dishes__card__icon {
  color: #9356dc;
}
.func-dishes__cards .func-dishes__card a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.func-dishes__cards .func-dishes__card__number {
  position: absolute;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  color: #ffff;
}
.func-dishes__cards .func-dishes__card__number p {
  font-size: 12px;
}
.func-dishes__cards .func-dishes__card__icon {
  width: 10px;
  font-size: 16px;
  margin: 0 25px 0 10px;
  color: #898989;
}
.func-dishes__cards .func-dishes__card h3 {
  font-size: 14px;
  color: black;
}

.restaurants {
  background-color: #f7f7f4;
  padding: 40px 20px;
}
.restaurants h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.restaurants .rest-dishes__cards {
  margin-bottom: 30px;
}
.restaurants .rest-dishes__card {
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(100, 100, 100, 0.2);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.restaurants .rest-dishes__card__new {
  background-color: #99e2d0;
  position: absolute;
  padding: 6px 15px;
  border-radius: 3px;
  top: 15px;
  right: 15px;
  color: #278870;
  font-weight: bold;
  font-size: 13px;
}
.restaurants .rest-dishes__card img {
  height: 150px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurants .rest-dishes__card__info {
  background-color: #ffffff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.restaurants .rest-dishes__card__txt h3,
.restaurants .rest-dishes__card__txt p {
  margin-bottom: 5px;
  font-size: 17px;
}

.footer {
  background-color: #363635;
  padding: 20px;
  width: 100%;
  min-width: 280px;
}
.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.footer h4 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  color: #fffffd;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-footer__item {
  color: white;
  padding: 5px 0px;
  width: 100%;
}
.nav-footer__item a {
  font-size: 16px;
  padding: 5px 0px;
  transition: color 400ms;
}
.nav-footer__item a:hover {
  color: #4acbab;
}
.nav-footer__item i {
  margin-right: 10px;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
