// font
// font-family: 'Roboto', sans-serif;
// font-family: 'Shrikhand', cursive;

/*FONTS*/
$font-text: "Roboto";
$font-title: "Shrikhand";

body {
    font-family: $font-text, sans-serif;
} /*END FONTS*/
