/* FUNCTIONING*/
.functioning {
    padding: 40px 20px;

    & h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }

    & .func__cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        /*media query mobile*/
        @include mobile-only {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

.func__card {
    background-color: #f7f7f4;
    border-radius: 25px;
    margin: 20px 0px 0;
    width: 98%;
    margin-left: 10px;
    position: relative;
    box-shadow: 0px 2px 10px 0px #d8d8d8;
    transition: background-color 400ms;
    cursor: pointer;
    transition: box-shadow, background-color .5s ease;

    /*media query mobile*/
    @include mobile-only {
        width: 45%;
    }

    /*media query desktop*/
    @include desktop-only {
        width: 30%;
        margin-left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &:hover {
        background-color: lighten($color-primary, 33%);
        box-shadow: 0px 2px 12px 0px #cccccc;

        .func__card__icon {
            color: $color-primary;
        }

        .func__card__number {
            left: 5px;

            /*media query desktop*/
            @include desktop-only {
                top: -6px;
                left: 50%;
            }
        }
    }

    & a {
        padding: 25px 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        /*media query desktop*/
        @include desktop-only {
            margin: 0;
            padding: 25px 15px;
            width: 100%;
            justify-content: center;
        }
    }

    &__number {
        position: absolute;
        background-color: $color-primary;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        left: 0;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);
        color: #ffff;
        transition: all 0.5s ease;

        /*media query desktop*/
        @include desktop-only {
            left: 50%;
            top: 0;
            width: 22px;
            height: 22px;
        }

        & p {
            font-size: 14px;

            /*media query desktop*/
            @include desktop-only {
                font-size: 15px;
            }
        }
    }

    &__icon {
        width: 15px;
        font-size: 16px;
        margin: 0 20px 0 10px;
        color: #898989;

        /*media query desktop*/
        @include desktop-only {
            margin: 0;
            margin-right: 25px;
            font-size: 22px;
        }


    }

    & h3 {
        font-size: 14px;
        color: black;
        display: block;
        width: 100%;

        /*media query desktop*/
        @include desktop-only {
            font-size: 16px;
        }


    }
}

/* END FUNCTIONING*/

/*RESTAURANTS */
.restaurants {
    background-color: #f7f7f4;
    padding: 40px 20px;

    & h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    & .rest-dishes__cards {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        /*media query mobile*/
        @include mobile-only {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
    }

    .rest-dishes__card {
        margin-bottom: 20px;
        position: relative;
        @include cards-shadow;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        transition: all 1s;

        /*media query mobile*/
        @include mobile-only {
            width: 49%;
        }

        & {
            &:hover {
                @include cards-shadow-hover;
                cursor: pointer;

                img {
                    transform: scale(1.1);
                    filter: grayscale(0);
                }
            }
        }

        &__img {
            overflow: hidden;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }

        &__new {
            background-color: $color-terciary;
            position: absolute;
            padding: 6px 15px;
            border-radius: 3px;
            top: 15px;
            right: 15px;
            color: darken($color: $color-terciary, $amount: 40%);
            font-weight: bold;
            font-size: 13px;
            z-index: 1;
        }

        & img {
            height: 150px;
            object-fit: cover;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            transform: scale(1);
            filter: grayscale(1);
            transition: filter 1s ease, transform 0.6s ease;
        }

        &__info {
            background-color: #ffffff;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            color: black;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__txt {

            h3,
            p {
                margin-bottom: 5px;
                font-size: 17px;

                /*media query desktop*/
                @include desktop-only {
                    font-size: 19px;
                }
            }
        }
    }
}

/* END RESTAURANTS */