/* DISHES*/
.dishes {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #f7f7f4;
    z-index: 1;
    position: relative;
    margin-top: $move-up;
    padding: 30px 20px;
    overflow: hidden;

    &__title {
        font-family: $font-title, cursive;
        display: flex;
        align-items: center;
        justify-content: space-between;

        /*media query desktop*/
        @include desktop-only {
            width: 100%;
            justify-content: flex-end;

        }

        & h2 {
            font-size: 23px;

            /*media query desktop*/
            @include desktop-only {
                margin-right: 47%;
                transform: translateX(47%);
                font-size: 28px;
            }
        }

        & i {
            margin-right: 10px;
            font-size: 22px;
        }

        &--type h3 {
            text-transform: uppercase;
            margin-top: 30px;
            color: $color-gray-light;
            font-weight: 400;
            position: relative;
            font-size: 13px;
            margin-bottom: 20px;

            /*media query mobile*/
            @include mobile-only {
                font-size: 16px;
            }

            /*media query desktop*/
            @include desktop-only {
                text-align: center;
                font-weight: 900;
                font-size: 17px;
                margin-top: 50px;
            }

            &::after {
                content: "";
                width: 30px;
                height: 3px;
                position: absolute;
                background-color: $color-terciary;
                top: 100%;
                left: 0;
                margin-top: 5px;

                /*media query desktop*/
                @include desktop-only {
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100px;
                }
            }
        }
    }

    .dish {
        opacity: 0;
        position: relative;
        left: -30px;
        top: 0;
        animation: show-title 1s 0.5s ease forwards;

        /*media query desktop*/
        @include desktop-only {
            top: -10px;
            left: 0;
            animation: show-title-desktop 1s 0.5s ease forwards;
        }
    }

    /*animation media query desktop*/
    @keyframes show-title-desktop {
        0% {
            opacity: 0;
            top: -20px;
        }

        30% {
            top: -20px;
        }

        60% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            top: -10px;
        }
    }

    @keyframes show-title {
        0% {
            opacity: 0;
            left: -30px;
        }

        60% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            left: 0;
        }
    }
}

.dishes__cards {
    @include flexbox(flex, column, center, flex-start);

    /*media query mobile*/
    @include mobile-only {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    & button {
        margin-top: 40px;
    }
}

.dishes__card {
    opacity: 0;
    position: relative;
    top: -15px;
    background-color: #fffffd;
    width: 100%;
    border-radius: $border-radius-little-dishes__cards;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.2);
    position: relative;
    @include flexbox(flex, row, space-between, flex-start);
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    overflow: hidden;
    animation: show-dishes 1s ease forwards;
    transition: box-shadow 1s ease;

    /*media query mobile*/
    @include mobile-only {
        width: 48%;
    }

    /*media query desktop*/
    @include desktop-only {
        width: 32%;
    }

    &:hover {
        box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.6);
    }

    @for $i from 1 through 5 {
        & {

            // nth-child(3)
            &:nth-child(#{$i}) {
                //    delay the animation. Delay increses as item loop.
                animation-delay: $i * (300ms);
            }
        }
    }

    @keyframes show-dishes {
        0% {
            opacity: 0;
            top: -15px;
        }

        70% {
            opacity: 1;
        }

        100% {
            top: 0;
            opacity: 1;
        }
    }

    & &__text {
        width: 100%;
        overflow-wrap: anywhere;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: width 600ms;

        // .span-block {
        //     display: inline-block;
        //     margin: 0;
        //     padding: 0;
        //     line-height: 1;


        // }

        span:not(:last-child) {
            font-size: 15px;
            margin: 5px 0;
            font-weight: bold;
            color: black;

            /*media query desktop*/
            @include desktop-only {
                font-size: 17px;
            }
        }

        span:last-child {
            font-size: 13px;
            color: darken($color-gray-light, 20%);

            /*media query desktop*/
            @include desktop-only {
                font-size: 16px;
                line-height: 1.5;
            }
        }
    }

    & &__price {
        display: flex;
        justify-content: flex-end;
        width: 38px;
        margin-right: 8px;
        font-weight: 900;
        font-size: 13px;
        align-self: flex-end;
        transition: margin-right 600ms;

        /*media query desktop*/
        @include desktop-only {
            font-size: 15px;
        }
    }

    & &__side {
        width: 50px;
        height: 100%;
        position: absolute;
        padding: 20px 10px;
        top: 0;
        right: -50px;
        background-color: $color-terciary;
        border-top-right-radius: $border-radius-little-dishes__cards;
        border-bottom-right-radius: $border-radius-little-dishes__cards;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 600ms;

        & i {
            width: 15px;
            height: 15px;
            background-color: #fffffd;
            border-radius: 100%;
            color: $color-terciary;
            @include flexbox(flex, row, center, center);
            font-size: 12px;
            padding: 8px;
            font-weight: bold;
            transform: rotateZ(45deg);
            transition: transform 600ms;

            /*media query desktop*/
            @include desktop-only {
                width: 30px;
                height: 30px;
                font-size: 15px;
            }
        }
    }

    &:hover & {
        &__side {
            right: 0;

            & i {
                transform: rotateZ(360deg);
            }
        }

        &__text {
            flex-grow: 1;
            overflow-wrap: anywhere;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__price {
            margin-right: 50px;
        }
    }
}

/*END DISHES*/