/*  FOOTER */
.footer {
    background-color: #363635;
    padding: 20px;
    width: 100%;
    min-width: 280px;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        @include mobile-only {
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    }

    h4 {
        font-family: $font-title, cursive;
        font-weight: 100;
        color: #fffffd;
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.nav-footer {
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include mobile-only {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    &__item {
        color: white;
        padding: 5px 0px;
        width: 100%;

        // @include desktop-only {
        //     width: inherit;
        //     margin: 0 20px;
        // }

        a {
            font-size: 16px;
            padding: 5px 0px;
            transition: color 400ms;
            width: 100%;
            &:hover {
                color: darken($color-terciary, 20%);
            }
        }

        i {
            margin-right: 10px;
            font-size: 15px;
        }
    }
}

/* END FOOTER */
