/* HERO */
.hero {
    background-color: #f7f7f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

    & h1,
    p {
        padding: 10px 0;
    }

    & h1 {
        font-size: 24px;
        margin-bottom: 0;
        line-height: 1;

        /*media query desktop*/
        @include desktop-only {
            font-size: 35px;
            margin-top: 25px;
            line-height: 1;
        }

    }

    & p {
        color: #898989;

        /*media query desktop*/
        @include desktop-only {
            font-size: 20px;
            line-height: .5;
            margin-bottom: 40px;
        }
    }
}

/* END HERO */